@tailwind base;
@tailwind components;
@tailwind utilities;

.discord-markdown {
    blockquote {
        @apply border-l-4 border-gray-200 dark:border-gray-700 pl-2 my-1;
    }
    
    a {
        @apply text-blue-600 dark:text-blue-400;

        &:hover {
            @apply underline
        }
    }

    .d-emoji {
        height: 1em;
        width: auto;
        display: inline;
    }
}

.icon-outlined {
    overflow: visible;
    transform: scale(1);
    path {
        stroke: white;
        stroke-width: 4px;
        stroke-linejoin: round;
        paint-order: stroke;
    }
}

.dark .icon-outlined {
    overflow: visible;
    transform: scale(1);
    path {
        stroke: #111827;
        stroke-width: 6px;
        stroke-linejoin: round;
        paint-order: stroke;
    }
}