@tailwind base;
@tailwind components;
@tailwind utilities;

.discord-markdown {
    a {
        @apply text-blue-600 dark:text-blue-400;

        &:hover {
            @apply underline
        }
    }
}

blockquote {
    @apply border-l-4 border-gray-200 dark:border-gray-700 pl-2 my-1;
}

.d-emoji {
    height: 1em;
    width: auto;
    display: inline;
}

.d-spoiler {
    @apply inline-block px-1 rounded-sm text-gray-300 bg-gray-300 dark:bg-gray-950 dark:text-gray-950;
    transition-delay: 6000s;

    &::selection {
        @apply text-gray-300 bg-gray-300 dark:bg-gray-950 dark:text-gray-950;
    }

    &:active {
        @apply text-gray-900 bg-gray-100 dark:bg-gray-800 dark:text-gray-100;
        transition-delay: 0s;
    }
}

.icon-outlined {
    overflow: visible;
    transform: scale(1);
    path {
        stroke: white;
        stroke-width: 4px;
        stroke-linejoin: round;
        paint-order: stroke;
    }
}

.dark .icon-outlined {
    overflow: visible;
    transform: scale(1);
    path {
        stroke: #111827;
        stroke-width: 6px;
        stroke-linejoin: round;
        paint-order: stroke;
    }
}